Repository smanjara/ceph, changes with the labels that .github/labeler.yml gives for each.
All labels: pybind, common, cephadm, bluestore, core, crimson, dashboard, cephfs, CI, rbd, ceph-volume, tests

.github/labeler.yml:

documentation:
  - AUTHORS
  - CONTRIBUTING.rst
  - COPYING*
  - CodingStyle
  - PendingReleaseNotes
  - README.*
  - SubmittingPatches*
  - doc/**
  - doc_deps.deb.txt
  - man/**
  - "**/*.+(rst|md)"

pybind:
  - src/pybind/cephfs/*
  - src/pybind/mgr/*
  - src/pybind/rados/*
  - src/pybind/rbd/*
  - src/pybind/rgw/*
  - src/pybind/*

common:
  - src/common
  - src/global
  - src/log

cephadm:
  - src/cephadm/**
  - src/pybind/mgr/cephadm/**
  - qa/suites/rados/cephadm/**

bluestore:
  - src/os/bluestore/**

core:
  - doc/man/8/ceph-authtool.rst
  - doc/man/8/ceph-conf.rst
  - doc/man/8/ceph-create-keys.rst
  - doc/man/8/ceph-kvstore-tool.rst
  - doc/man/8/ceph-mon.rst
  - doc/man/8/ceph-objectstore-tool.rst
  - doc/man/8/ceph-osd.rst
  - doc/man/8/ceph.rst
  - doc/man/8/crushtool.rst
  - doc/man/8/monmaptool.rst
  - doc/man/8/rados.rst
  - doc/rados/**
  - qa/standalone/**
  - qa/suites/rados/**
  - qa/workunits/erasure-code/**
  - qa/workunits/mgr/**
  - qa/workunits/mon/**
  - qa/workunits/objectstore/**
  - qa/workunits/rados/**
  - src/blk/**
  - src/crush/*
  - src/erasure-code/**
  - src/kv/**
  - src/librados/**
  - src/mgr/**
  - src/mon/**
  - src/msg/**
  - src/os/**
  - src/osd/**
  - src/tools/rados/**

crimson:
  - doc/dev/crimson/**
  - src/crimson/**
  - src/test/crimson/**
  - qa/suites/crimson-rados/**

dashboard:
  - src/pybind/mgr/dashboard/**
  - qa/suites/rados/dashboard/**
  - qa/tasks/mgr/test_dashboard.py
  - qa/tasks/mgr/dashboard/**
  - monitoring/**
  - doc/mgr/dashboard.rst
  - doc/dev/developer_guide/dash-devel.rst

cephfs:
  - doc/cephfs/**
  - doc/man/8/ceph-fuse.rst
  - doc/man/8/ceph-mds.rst
  - doc/man/8/ceph-syn.rst
  - doc/man/8/mount.ceph.rst
  - doc/man/8/mount.fuse.ceph.rst
  - qa/suites/fs/**
  - qa/suites/multimds/**
  - qa/tasks/ceph_fuse.py
  - qa/tasks/cephfs/**
  - qa/tasks/cephfs_test_runner.py
  - qa/tasks/fs.py
  - qa/tasks/kclient.py
  - qa/tasks/mds_creation_failure.py
  - qa/tasks/mds_thrash.py
  - src/ceph_fuse.cc
  - src/ceph_mds.cc
  - src/ceph_syn.cc
  - src/client/**
  - src/include/ceph_fs.h
  - src/include/ceph_fuse.h
  - src/include/cephfs/**
  - src/include/filepath.h
  - src/include/frag.h
  - src/include/fs_types.h
  - src/libcephfs.cc
  - src/mds/**
  - src/pybind/ceph_volume_client.py
  - src/pybind/cephfs/**
  - src/pybind/mgr/mds_autoscaler/**
  - src/pybind/mgr/status/**
  - src/pybind/mgr/volumes/**
  - src/test/fs/**
  - src/test/libcephfs/**
  - src/tools/cephfs/**
  - src/tools/cephfs_mirror/**

CI:
  - .github/**

rbd:
  - doc/man/8/rbd*
  - doc/rbd/**
  - qa/suites/rbd/**
  - qa/workunits/rbd/**
  - src/include/rbd/**
  - src/librbd/**
  - src/pybind/mgr/rbd_support/**
  - src/pybind/rbd/**
  - src/test/librbd/**
  - src/test/rbd_mirror/**
  - src/tools/rbd/**
  - src/tools/rbd_mirror/**
  - src/tools/rbd_nbd/**

ceph-volume:
  - src/ceph-volume/**
  - doc/ceph-volume/**

tests:
  - qa/tasks/**
  - qa/workunits/**

mgr/dashboard: validate username while creation
  qa/tasks/mgr/dashboard/test_user.py
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/user.py
  src/pybind/mgr/dashboard/tox.ini
Labels: dashboard, tests

librbd/migration: basic http/https client implementation
  src/librbd/CMakeLists.txt
  src/librbd/migration/HttpClient.cc
  src/librbd/migration/HttpClient.h
  src/test/librbd/CMakeLists.txt
  src/test/librbd/migration/test_mock_HttpClient.cc
  src/tools/rbd_mirror/CMakeLists.txt
Labels: rbd

librbd/migration: pipelined http request / response implementation
  src/librbd/migration/HttpClient.cc
  src/librbd/migration/HttpClient.h
  src/test/librbd/migration/test_mock_HttpClient.cc
Labels: rbd

pybind/mgr/dashboard/run-backend-api-tests: normalize path name
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: dashboard

RGW: Check all shards for user manifest parts
  src/rgw/rgw_sal.h
Labels: none

librbd/migration: implement http stream interface
  src/librbd/CMakeLists.txt
  src/librbd/migration/HttpStream.cc
  src/librbd/migration/HttpStream.h
  src/librbd/migration/SourceSpecBuilder.cc
  src/test/librbd/CMakeLists.txt
  src/test/librbd/migration/test_mock_HttpStream.cc
Labels: rbd

librbd/migration: properly close image on aborted open attempt
  src/librbd/migration/OpenSourceImageRequest.cc
Labels: rbd

mgr/dashboard: amend the look & feel a bit
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login-password-form/login-password-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login-password-form/login-password-form.component.scss
Labels: dashboard

mgr/dashboard: RBD: Disable actions when name is not valid
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
Labels: dashboard

librbd/migration: helper method to retrieve file sizes via http
  src/librbd/migration/HttpClient.cc
  src/librbd/migration/HttpClient.h
  src/test/librbd/migration/test_mock_HttpClient.cc
Labels: rbd

test/librbd: fixed race conditions in TestMockMigrationHttpClient
  src/test/librbd/migration/test_mock_HttpClient.cc
Labels: rbd

librbd/migration: helper tool for parsing URLs into parts
  src/librbd/CMakeLists.txt
  src/librbd/migration/Types.h
  src/librbd/migration/Utils.cc
  src/librbd/migration/Utils.h
  src/test/librbd/CMakeLists.txt
  src/test/librbd/migration/test_mock_Utils.cc
Labels: rbd

pybind/mgr/dashboard/run-backend-api-tests: add src/pybind to PYTHONPATH
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: dashboard

Zipper - WriteOp
  src/rgw/rgw_cr_rados.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
Labels: none

librbd/api/migration: get_source_spec should read spec from OSD
  src/librbd/api/Migration.cc
Labels: rbd
